# Ignorer les fichiers de configuration
*.env

# Ignorer les fichiers temporaires
*.tmp

# Ignorer le dossier de l'environnement virtuel
venv/

# 
.rasa/cache
.rasa/cache/cache.db

models/

actions/__pycache__/
Python-2.7.18/
pynaoqi-python2.7-2.5.5.5-linux64/
mon_env/